body {background: #bbb;}
div {min-height: 10px; border: 1px solid #8A7676; margin: 20px; min-width: 10px; float: left;}
div:nth-of-type(1) {width: 48px; height: 48px; background: 0 0;}
div:nth-of-type(2) {width: 48px; height: 48px; background: -135px 0;}
div:nth-of-type(3) {width: 43px; height: 43px; background: -49px -92px;}
div:nth-of-type(4) {width: 79px; height: 18px; background: -95px -113px;}
div:nth-of-type(5) {width: 15px; height: 15px; background: -84px -74px;}
div:nth-of-type(6) {width: 20px; height: 60px; background: -257px 0;}
div:nth-of-type(7) {width: 16px; height: 16px; background: -38px -51px;}
div:nth-of-type(8) {width: 20px; height: 20px; background: -84px -51px;}
div:nth-of-type(9) {width: 79px; height: 18px; background: -95px -92px;}
div:nth-of-type(10) {width: 16px; height: 16px; background: 0 -139px;}
div:nth-of-type(11) {width: 16px; height: 16px; background: -107px -51px;}
div:nth-of-type(12) {width: 16px; height: 16px; background: -51px -60px;}
div:nth-of-type(13) {width: 16px; height: 16px; background: -51px -41px;}
div:nth-of-type(14) {width: 16px; height: 16px; background: 0 -51px;}
div:nth-of-type(15) {width: 16px; height: 16px; background: -19px -51px;}
div:nth-of-type(16) {width: 48px; height: 48px; background: -51px 0;}
div:nth-of-type(17) {width: 81px; height: 38px; background: 0 0;}
div:nth-of-type(2),div:nth-of-type(3),div:nth-of-type(4),div:nth-of-type(5),div:nth-of-type(8),div:nth-of-type(9),div:nth-of-type(10),div:nth-of-type(11),div:nth-of-type(12),div:nth-of-type(13),div:nth-of-type(17){background-image: url(../img/sprite/sprite_style.png);}
div:nth-of-type(6){background-image: url(../img/sprite/sprite_style2.png);}
div:nth-of-type(1),div:nth-of-type(16),div:nth-of-type(14),div:nth-of-type(15),div:nth-of-type(7){background-image: url(../img/sprite/sprite_style3.png);}
